.blackSquare {
  width: 64px;
  height: 64px;
  background-color: black;
  text-align: center;
  
}

.whiteSquare {
  width: 64px;
  height: 64px;
  background-color:cornsilk;
  text-align: center;
  
}
.board {
  text-align: center;
}
