.blackSquare {
  width: 65px;
  height: 65px;
  background-color: black;
  text-align: center;
  display:flex;
  
}

.whiteSquare {
  width: 65px;
  height: 65px;
  background-color:cornsilk;
  text-align: center;
  display: flex;
}
.redPiece {
  width: 50px;
  height: 50px; 
  background-color: crimson;
  border: 1px white;
  border-radius: 100%;
  margin:auto;
}
.row{
  display: flex;
}
  .purplePiece {
    width: 50px;
    height: 50px; 
    background-color: white;
    border: 1px white;
    border-radius: 100%;
    margin:auto
}
.board {
  text-align: center;
}

